@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Bubbles&family=Sunflower:wght@300;500;700&display=swap");
@import "reset.css";

/* Components */
@import "components/nav-bar.css";

/* Screens */

a {
  font-family: "Sunflower", sans-serif;
}

.portfolio-wrap {
  display: flex;
}

.home-screen {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction-photo img {
  width: 30rem;
}

.introduction-typing {
  text-align: center;
  display: table;
}

.introduction-typing-table {
  display: table-cell;
  vertical-align: middle;
}

.introduction-typing-table h2 {
  text-transform: uppercase;
  margin: 1.5rem;
}

.introduction-typing-table p {
  display: none;
}
